Information: Updating design information... (UID-85)
 
****************************************
Report : constraint
        -all_violators
Design : project2
Version: L-2016.03-SP5-5
Date   : Sun Jun  4 19:07:07 2017
****************************************


   max_area

                             Required        Actual
   Design                      Area           Area           Slack
   -----------------------------------------------------------------
   project2                     0.00        2599.35       -2599.35  (VIOLATED)


   max_leakage_power

                             Required        Actual
   Design                   Leakage Power  Leakage Power     Slack
   -----------------------------------------------------------------
   project2                     0.00       57422.64       -57422.64 (VIOLATED)


1
